<!-- Filtro de pesquisa -->

<mat-form-field>
    <mat-label>Filtro</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Digite o que deseja pesquisar" #input>
</mat-form-field>

<!-- Tabs das diferentes listas providas pela API -->

<mat-tab-group (selectedIndexChange)="changeSelectedTab($event)">
    <mat-tab label="Personagens"> 
        <app-lista *ngIf="selected == 0" [filtro]="filtro" [service]="personagensService" [displayedColumns]="personagensColumns"></app-lista>    
    </mat-tab>
    <mat-tab label="Locais"> 
        <app-lista *ngIf="selected == 1" [filtro]="filtro" [service]="locaisService" [displayedColumns]="locaisColumns"></app-lista>
    </mat-tab>
    <mat-tab label="Episódios"> 
        <app-lista *ngIf="selected == 2" [filtro]="filtro" [service]="episodiosService" [displayedColumns]="episodiosColumns"></app-lista>
    </mat-tab>
</mat-tab-group>