<div [ngSwitch]="tipoDado" *ngIf="dado" class="px-5 py-2">
    <div *ngSwitchCase=0>
        <div class="text-center">
            <img [src]="dado.image">   
        </div>
        <p><b>ID:</b> {{dado.id}}</p>
        <p><b>Nome:</b> {{dado.name}}</p>
        <p><b>Status:</b> {{dado.status}}</p>
        <p><b>Espécie:</b> {{dado.species}}</p>
        <p><b>Tipo:</b> {{dado.type}}</p>
        <p><b>Genêro:</b> {{dado.gender}}</p>
        <p (click)="redirecionar(dado.origin.url, 1)" class="texto-link"><b>Origem:</b> {{dado.origin.name}}</p>
        <p (click)="redirecionar(dado.location.url, 1)" class="texto-link"><b>Visto pela última vez em:</b> {{dado.location.name}}</p>
        <p><b>Episódios em que aparece:</b></p>
        <app-lista [displayedColumns]="episodiosColumns" [data]="listaSecundaria" [tipoDado]="2" *ngIf="this.listaSecundaria"></app-lista>
            
    </div>
    <div *ngSwitchCase=1>
        <p><b>ID:</b> {{dado.id}}</p>
        <p><b>Nome:</b> {{dado.name}}</p>
        <p><b>Tipo:</b> {{dado.type}}</p>
        <p><b>Dimensão:</b> {{dado.dimension}}</p>
        <p><b>Residentes:</b></p>
        <app-lista [displayedColumns]="personagensColumns" [data]="listaSecundaria" [tipoDado]="0" *ngIf="this.listaSecundaria"></app-lista>
    </div>
    <div *ngSwitchCase=2>
        <p><b>ID:</b> {{dado.id}}</p>
        <p><b>Nome:</b> {{dado.name}}</p>
        <p><b>Data de lançamento:</b> {{dado.air_date}}</p>
        <p><b>Episódio:</b> {{dado.episode}}</p>
        <p><b>Personagens neste episódio:</b></p>
        <app-lista [displayedColumns]="personagensColumns" [data]="listaSecundaria" [tipoDado]="0" *ngIf="this.listaSecundaria"></app-lista>
    </div>
</div>